/* mise à 0 */
:root {
  --color-one: #121212;
  --color-onelight: #2d2d2d;
  --color-two: #909090;
  --color-twodark: #7a7a7a;

  --color-three: #b3b3b3;
  --color-threelight: #c1c0c0;
  --color-four: #f6f2f2;
  --color-fourdark: #dfdcdc;

  --color-five: #ffffff;
  --color-six: #ecc424;
  --color-sixdark: #f1d565;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}

/* général */

h1 {
  /* margin: 3rem 0; */
  padding: 2.5rem 1rem;
  background-color: var(--color-one);
  color: var(--color-six);
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px -2px #000000;
  box-shadow: 5px 5px 15px -2px #000000;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
  padding: 3rem;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
  font-weight: 800;
}
p {
  font-size: 1rem;
}
a {
  color: var(--color-one);
}
.gras {
  font-weight: 800;
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.droite {
  text-align: right;
}
.sousligne {
  text-decoration: underline;
}
.colorGris {
  color: var(--color-two);
}

.dfRight {
  justify-content: end;
}
/* bouton couleur */
.btn {
  margin: 1rem;
  box-shadow: 1px 2px 6px -2px var(--color-one);
  background: linear-gradient(
    to bottom,
    var(--color-six) 5%,
    var(--color-sixdark) 100%
  );
  background-color: var(--color-six);
  border-radius: 20px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: var(--color-one);
  font-family: Arial;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(
    to bottom,
    var(--color-sixdark) 5%,
    var(--color-six) 100%
  );
  background-color: var(--color-sixdark);
}
.btn:active {
  position: relative;
  top: 1px;
}

/* bouton gris */
.btnInput {
  margin: 1rem;
  box-shadow: 1px 2px 6px -2px var(--color-one);
  background: linear-gradient(
    to bottom,
    var(--color-three) 5%,
    var(--color-threelight) 100%
  );
  background-color: var(--color-three);
  border-radius: 20px;
  border: none;
  border-width: 0px;
  display: inline-block;

  cursor: pointer;
  color: var(--color-one);
  font-family: Arial;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}
.btnInput:hover {
  background: linear-gradient(
    to bottom,
    var(--color-threelight) 5%,
    var(--color-three) 100%
  );
  background-color: var(--color-threelight);
}
.btnInput:active {
  position: relative;
  top: 1px;
}

nav > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

/* index section */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}

.card {
  width: 45%;
  margin-bottom: 0.5rem;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 19px -3px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

/* formulaire connexion register */

.formConnexion,
.formRegister {
width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formConnexion > div
 {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0.5rem 0;
}
#email,
#pwd,
#last_name,
#first_name,
#address, #postal_code, #town,
#phone {
  padding: 0.3rem 1rem;
}
#email,
#pwd, #phone {
  width: 20rem;
}
#address{
  width: 30rem;
}

/* formulaire register */
#nomPrenom, #cpVille{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  margin: 1rem 0 0.5rem 0;
}
#nomPrenom>div, #cpVille>div{
  display: flex;
flex-direction: column;
}
#contact{
  display: flex;
  flex-direction: column;
 width: 30rem;
 margin: 1rem 0 0.5rem 0;
}
#contact>div{
  margin: 1rem 0 0.5rem 0;
  display: flex;
  flex-direction: column;
 }
 #contact .radio{
  flex-direction: row;
  justify-content: space-evenly;
 }
 

/* footer */
footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--color-one);
  color: var(--color-six);
}
